* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    background-color: rgb(43, 92, 228);
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    align-items: center;
}

header h1 {
    font-family: "Protest Riot", sans-serif;
    cursor: pointer;
}

.menu {
    display: flex;
    list-style: none;
    gap: 15px;
}

.menu a{
text-decoration: none;
color: white;
font-family: "Ibarra Real Nova", serif;
font-size: 18px;
font-weight: 600;
}

.menu a:hover {
    border-bottom: 1px solid white;
}


.container {
    max-width: 1024px;
    text-align: center;
}

.loja {
    display: flex;
    gap: 20px;
    padding: 30px 0;
    text-align: left;
}

.loja-foto {
    width: 100%;
}

.titulo {
    color: rgb(43, 92, 228);
    border-bottom: 2px solid rgb(43, 92, 228);
    padding-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.sobre-loja p {
    width: 100%;
    font-size: 18px;
    padding-top: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.produto {
    padding: 20px 0;
 }

.titulo2 {
    color: rgb(43, 92, 228);
    border-bottom: 2px solid rgb(43, 92, 228);
    padding-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: left;
}

.produto-foto {
    width: 100%;
}

.produto ul {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.produto li {
    cursor: pointer;
    max-width: 200px;
    list-style: none;
    text-align: left;
}

.produto h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
}

.produto p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.produto button {
    background-color: rgb(43, 92, 228);
    padding: 10px;
    text-align: center;
    margin: 5px;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.produto button:hover {
    background-color:  rgb(3, 34, 119);;
}

@media screen and (max-width: 1023px) {
    .loja {
        display: flex;
        flex-direction: column;
    }

    .loja-foto {
        width: 100%;
        padding: 0 10%;
    }

    .titulo {
        width: 80%;
    }
    
    .sobre-loja p {
        width: 80%;   
    }

    .produto {
        width: 80%;   
     }

     .titulo2 {
        width: 80%;   
    }

    .produto ul {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .produto li {
        cursor: pointer;
        max-width: 300px;
        list-style: none;
        text-align: left;
    }
}

@media screen and (max-width: 641px) {
    .menu {
        flex-direction: column;
        gap: 5px;
    }

    .titulo {
     font-size: 18px;
    }
    
    .sobre-loja p {
        font-size: 16px;
    }

    .titulo2 {
        font-size: 18px;
    }
    
    .produto-foto {
        width: 100%;
    }
    
    .produto ul {
        display: grid;
        grid-template-columns: 100%;
        padding: 10px;
    }
    
}